# Miscellaneous


# IntelliJ related


# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related


# Symbolication related


# Obfuscation related


# Android Studio will place build artifacts here
